body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: black;
    color: #FFD700;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

nav {
    background-color: black;
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-align: left;
    margin: 20px 0;
}

nav ul li a {
    text-decoration: none;
    color: #FFD700;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
}

nav ul li a.active, nav ul li a:hover {
    background-color: #FFD700;
    color: black;
    font-weight: bold;
}

main {
    margin-left: 220px;
    padding: 20px;
    flex-grow: 1;
}

h2 {
    color: black;
}

input#searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* 确保边框包含在元素的总宽度内 */
}

.table-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;  /* 确保宽度为100%，避免超出容器 */
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #FFD700;
    color: black;
}

button {
    background-color: #FFD700;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: black;
    color: #FFD700;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

